In [18]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import or_

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)


#################################################
# Database Setup
#################################################

# import mysql.connector

# mydb = mysql.connector.connect(
#  host="127.0.0.1",
#  user="root",
#  passwd="root",
#  database="nfl_project"
# )

app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/data.sqlite"
SQLALCHEMY_ECHO=True
db = SQLAlchemy(app)

# Reflect an existing database into a new model
Base = automap_base()

# Reflect the tables
Base.prepare(db.engine, reflect=True)

# Save references to each table
Games = Base.classes.games
Pricing = Base.classes.pricing
Venues = Base.classes.venues

@app.route("/")
def index():
    """Return the homepage."""
    return render_template("index.html")

@app.route("/teams")
def teams():
    teams = db.session.query(Games.team1).distinct()

    # Return a list of the column names (team names)
    return jsonify(list(teams))

#    """Return the team list."""
#    mycursor = mydb.cursor()
#    mycursor.execute("SELECT team1 FROM nfl_project.games GROUP BY team1;")
#    myresult = mycursor.fetchall()
#    team_list=[]
#    for teams in myresult:
#        team_list.append(teams)
#    return(jsonify(team_list))

@app.route("/games/<team>")
def game(team):
    table = db.session.query(Games).\
        join(Venues, Games.venue_id == Venues.venue_id).\
        filter(or_(Games.team1 == team, Games.team2 == team)).all()

    df = pd.read_sql_query(table, db.session.bind)

    events = {
        "Event": df.title.tolist(),
        "Latitude": df.lat.tolist(),
        "Longitude": df.lon.tolist(),
    }

    return jsonify(events)

C:\Users\Chris\Anaconda3\envs\PythonData\lib\site-packages\flask_sqlalchemy\__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [14]:
table = db.session.query(Games).\
        join(Venues, Games.venue_id == Venues.venue_id).\
        filter(or_(Games.team1 == "Green Bay Packers", Games.team2 == "Green Bay Packers")).all()

In [21]:
pd.read_sql_query(table[0], db.session.bind)

ObjectNotExecutableError: Not an executable object: <sqlalchemy.ext.automap.games object at 0x000001CCABB0A4E0>

In [36]:
sel = [
        Games.title,
        Venues.lat,
        Venues.lon,
    ]

table = db.session.query(*sel).\
            join(Venues, Games.venue_id == Venues.venue_id).\
            filter(or_(Games.team1 == 'Green Bay Packers', Games.team2 == 'Green Bay Packers')).all()

In [40]:
event_list = []
for results in table:
    print(results[0])

Green Bay Packers at Chicago Bears
Green Bay Packers at Dallas Cowboys
Green Bay Packers at New York Giants
Washington Redskins at Green Bay Packers
Minnesota Vikings at Green Bay Packers
Chicago Bears at Green Bay Packers
Denver Broncos at Green Bay Packers
Detroit Lions at Green Bay Packers
Green Bay Packers at Detroit Lions
Carolina Panthers at Green Bay Packers
Green Bay Packers at Los Angeles Chargers
Green Bay Packers at San Francisco 49ers
Oakland Raiders at Green Bay Packers
Green Bay Packers at Minnesota Vikings
Philadelphia Eagles at Green Bay Packers
Green Bay Packers at Kansas City Chiefs